* {
    box-sizing: border-box;
    
   
}
body{
    background: #085078;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
.h1 {
    margin-left: auto;
    margin-right: auto;
}
ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
}
ul li {
    list-style: none;
    text-decoration: none;
}


